.logo img {
    width: 164px;
    h
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: "Seouge UI";
}

.right ul {
    display: flex;
    gap: 34px;
}

.right ul li {
    list-style: none;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.right ul li span {
    padding: 0 5px;
}

.first {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 63px;
    margin: 70px;
    font-family: sans-serif;
}

.first span {
    font-size: 40px;
}

section span img {
    width: 100px;
    margin: 0 23px;
}

.first p {
    font-size: 23px;
    width: 44vw;
    text-align: center;
}

.btn {
    background-color: #00b6d1;
    padding: 9px 12px;
    color: white;
    border: none;
    border-radius: 5px;
    font-weight: 601;
    margin: 12px;
    cursor: pointer;
}
.btn a{
    text-decoration: none;
    color: white;
}
.green{
    background-color: #5cb85c;
}
.second{
    max-width: 50vw;
    margin: auto;
}

.flex{
    display: flex;

}
.small{
    padding: 13px;
    font-size: 12px;
}
.item{
    padding: 23px;
    background-color: #f9f9f9;
    border-radius: 12px;
    font-size: 20px;
    font-family: 'Seoge UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    text-align: center;
}
.item-lan{
    font-weight: 600;
    text-align: center;
    padding-bottom: 36pxpx;
}
.grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 12px;
}
.download :nth-child(2){
    font-size: 23px;
}
.download img{
    padding: 0px 12px;
}
.download{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    gap: 10px;
    font-family: sans-serif;
}
@media screen and (max-width: 1145px){
    .grid{
        grid-template-columns: 1fr;
    }
}